/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Base Styles */

* {
    /* Remove default properties */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;  /* Dark background */
    color: #E0E0E0;  /* Light gray text */
    font-family: 'Roboto', sans-serif;  /* Body font */
    overflow: hidden; /* Prevents Scrolling */
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif; /* Heading font */
    color: #FFC107;  /* Gold/Amber for headings */
}

h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;  /* Sub-Heading font */
    color: #FFC107;  /* Gold/Amber for headings */
}

a {
    color: #FFC107 !important;  /* Gold/Amber links */
    text-decoration: none; /* Remove Underline */
}

button {
    background-color: #FFC107;  /* Gold/Amber buttons */
    color: #121212;  /* Dark text on buttons */
    border: none; 
    padding: 10px 20px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 25px; /* Pill-Shaped buttons */
    font-weight: 600; /* Font-Size */
}

button:hover {
    background-color: #D32F2F;  /* Crimson on hover */
}

.card-panel {
    background-color: #1C1C1C;  /* Slightly lighter dark for card backgrounds */
    color: #E0E0E0;  /* Text color */
}

.white-text {
    color: #E0E0E0;  /* Ensure text inside cards is readable */
}

/* Index Page General Styles & Animation Presets */

.main-container{
    height: 100vh;
    width: 100vw;
}

#header-container {
    margin-left: 25%; /* Intial y-position */
    margin-top: 25%; /* Intial x-position */
    transition: margin 2s ease-in-out; /* movement animation setting */
    position: relative; /* set to always stack the form container underneath */
}

#header-container.moving {
    margin-left: 10%; /* Final x-position */
    margin-top: 10%; /* Final y-position */
}

#header-container h1 {
    font-size: 5em; 
    transition: font-size 2s ease-in-out; /* Font animation setting */
}

.button-container button,
#back-button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    transition: opacity 0.5s ease-in-out; /* Display animation setting */
    cursor: pointer;
}

#back-button {
    display: none; /* Hidden by defualt */
    position: relative;
}

#header-container.moving h1 {
    font-size: 3.5em; /* Final font-size */
}

#header-container.moving .button-container {
    opacity: 0; /* Hide form buttons */
}

#header-container.moving #back-button {
    display: block; /* Show back button */
    opacity: 1; 
}

.form-container {
    display: none; /* Hidden by defualt */
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.form-container.visible {
    display: block; /* Show selected form */
    opacity: 1; 
}