<!DOCTYPE html>
<html lang="en">
<head>
    
    {% block head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <meta name="description" content="{% block meta_description %}This is a description of the page{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}flask, python, web development{% endblock %}">
    <!-- Materialize CSS Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- Materialize Icon Link -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <!-- Favicon -->
    <link href="{{url_for('static', filename='favicon/favicon-32x32.png')}}" rel="icon" type="image/x-icon">
    
    {% block styles %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}

</head>

<body>

    <!-- flash messages -->
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }} 
                            <button class="close-btn">&times;</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    


    {% block footer %}
    {% endblock %}

    <!-- Jquery Link -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Materialize Link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
    
</body>

</html>