{% extends "base.html" %}

{% block content %}

<!-- Index Header Container -->
<div id="header-container">
    <div>
        <!-- Index Header - Logo -->
      <h1><a href="{{ url_for('index') }}">CineVault</a></h1>
    </div>
    <!-- Form Triggers -->
    <div class="button-container">
        <!-- Sign-Up Form Trigger -->
      <button id="signup-button">Sign Up</button>
      <!-- Login Form Trigger -->
      <button id="login-button">Login</button>
    </div>
    <div>
        <!-- Escape / Animation Reset Trigger -->
      <button id="back-button">Back</button>
    </div>
  </div>

{% endblock %}